{% load static %}
<footer class="footer">
    <div class="grib wide">
        <div class="row">
            <div class="footer__col col c-12 m-6 l-3 ll-3">
                <h3 class="footer__title">Giới thiệu:</h3>
                <ul class="footer__desc">
                    <li>Chúng tôi xây dựng một nền tảng trực tuyến cho phép người dùng mua bán đồ cũ một cách dễ dàng và tiện lợi.</li>
                    <li>Tạo ra một môi trường kết nối người bán và người mua, mở rộng thị trường cho các sản phẩm đồ cũ.</li>
                    <li>Cung cấp các công cụ hỗ trợ người dùng trong việc đăng tin, tìm kiếm, giao dịch và quản lý sản phẩm.</li>
                </ul>
            </div>
            <div class="footer__col col c-12 m-6 l-3 ll-3">
                <h3 class="footer__title">Mạng xã hội:</h3>
                <div class="footer__socials">
                    <a href="#"><i class="fa-brands fa-facebook" style="color:#1877f3"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube" style="color:#ff0000"></i></a>
                    <a href="#"><i class="fa-brands fa-tiktok" style="color:#000000"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram" style="color:#e4405f"></i></a>
                </div>
                <div class="footer__logo">
                    <img src="{% static 'home/imgs/logo.png' %}" alt="Second Hand" />
                </div>
            </div>
            <div class="footer__col col c-12 m-6 l-3 ll-3">
                <h3 class="footer__title">Liên hệ và trợ giúp:</h3>
                <div class="footer__contact">
                    <div><b>Email:</b> <a href="mailto:secondhand@gmail.com.vn">secondhand@gmail.com.vn</a></div>
                    <div><b>Trợ giúp nhanh:</b></div>
                    <div>- Số điện thoại 1: <a href="tel:0123456879">0123456879</a></div>
                    <div>- Số điện thoại 2: <a href="tel:0987654321">0987654321</a></div>
                </div>
            </div>
            <div class="footer__col col c-12 m-6 l-3 ll-3">
                <h3 class="footer__title">Ứng dụng Second Hand:</h3>
                <div class="footer__apps">
                    <a href="" class="footer__apps-link">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" alt="Google Play" class="footer__app-img" />
                    </a>
                    <a href="" class="footer__apps-link">
                        <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" alt="App Store" class="footer__app-img" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col c-12 m-12 l-12 ll-12">
                <div class="footer__copyright">
                    <p>&copy; 2025 Second Hand - Nhóm 6. Tất cả quyền được bảo lưu.</p>
                </div>
            </div>
        </div>
    </div>
</footer>