.left-content{
    padding-right: 20px;
}
.product__img{
    margin-bottom: 38px;
}
.product__img-main{
    width: 100%;
    border: 1px solid var(--border-c);
}
.product__img-main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.product__img-list{

}
.product__img-list-items{
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    list-style: none;
}
.product__img-item{
    width: 25%;
    padding: 5px;
}
.product__img-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border: 1px solid var(--border-c);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;

}.product__img-item.active img{
    border: 2px solid var(--color-soft-peach-700);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    
}
.product__img-item img:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}
.product__deitals{
    width: 100%;
    border: 1px solid var(--border-c);
}
.product__deitals-title{
    background-color: var( --bgr-section);
    padding-left: 10px;
    margin-bottom: 16px;
}
.product__deitals-title h2{
    font-size: 1.8rem;
    color: var(--text-c);
    line-height: 1.5;
    font-weight: 600;
}
.product__deitals-content{
    padding-left: 5px;
    padding-right: 5px;
}
.product__deitals-content-item{
    font-size: 1.4rem;
    color: var(--text-c);
    line-height: 1.5;
    font-weight: bold;
}
.product__deitals-content-item span{
    font-weight: normal;
    color: var(--text-c);
}
.right-content{
    padding-left: 20px;
}
.product__infor{

}
.product__infor-title{
    background-color: var(--bgr-section);
    height: 120px;
    padding: 0 10px;
    align-content: center;
    justify-items: center;
    overflow: hidden;
    margin-bottom: 20px;
}
.product__infor-title h2{
    font-size: 2.8rem;
    color: var(--text-c);
    line-height: 1.5;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product__infor-rate{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.product__infor-rate-star{
    font-size: 1.8rem;
    color: rgb(255, 145, 0);
    line-height: 1.5;
    border: 1px solid var(--border-c);
    padding: 0 8px;
}
.product__infor-rate-star-number{
    color: var(--text-c);
    font-weight: 600;
}
.product__infor-reviews{
    display: flex;
    align-items: center;
    border: 1px solid var(--border-c);
    padding: 0 10px;
    line-height: 1.5;
}
.product__infor-reviews-number{
    font-size: 1.8rem;
    color: var(--text-c);
}
.product__infor-reviews-text{
    font-size: 1.8rem;
    color: var(--text-c);
    font-weight: 600;
}
.product__infor-price{
    height: 80px;
    display: flex;
    background-color: var(--primery-c);
    padding-left: 10px;
    margin-bottom: 40px;
}
.product__infor-price-number{
    font-size: 3.8rem;
    color: #c52111;
    font-weight: 600;
    line-height: 1.5;
    margin-right: 20px;
    align-content: center;
}
.product__infor-quantity{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
}
.product__infor-quantity-text{
    font-size: 1.6rem;
    color: var(--text-c);
    font-weight: 600;
    margin-right: 20px;
    min-width: 150px;
}
.product__infor-quantity-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid var(--border-c);
    background-color: #fff;;
    color: var(--text-c);
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.product__infor-quantity-btn:hover{
    background-color: var(--color-soft-peach-200);
    color: var(--text-c);
}
.product__infor-quantity-btn-minus{

}
.product__infor-quantity-number{
     width: 60px;
    height: 60px;
    border: 1px solid var(--border-c);
    font-size: 1.6rem;
    color: var(--text-c);
    text-align: center;
    align-content: center;
}
.product__infor-quantity-btn{

}
.product__infor-quantity-btn-plus{

}
.product__infor-buy{


}
.product__infor-buy-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px solid var(--border-c);
    font-size: 1.8rem;
    color: var( --color-soft-peach-50);
    background-color: var(--color-soft-peach-500);
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.product__infor-buy-btn:hover{
    background-color: var(--color-soft-peach-600);
    color: var(--color-soft-peach-50);
    cursor: pointer;
}
.product__infor-description{
    border: 1px solid var(--border-c);
}
.product__infor-description-title{
    font-size: 1.6rem;
    color: var(--text-c);
    background-color: var(--bgr-section);
    font-weight: 600;
    margin-bottom: 20px;
    padding-left: 10px;
    line-height: 3;

}
.product__infor-description-content{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.4rem;
    color: var(--text-c);
    line-height: 1.5;

}

.product-comment{
    margin-top: 60px;
}
.product-comment__title{
    font-size: 2rem;
    color: var(--text-c);
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 20px;
}
.product-comment__rate{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
}
.product-comment__rate-star{
    width: 100%;
    color: rgb(255, 145, 0);
    background-color: var(--primery-c);
    font-size: 2.6rem;
    line-height: 2;
    padding: 10px 0;
}
.product-comment__rate-star-number{
    color: var(--text-c);
    font-weight: 600;
    margin-left: 10px;
}
.product-comment__list{
    list-style: none;
    margin-bottom: 20px;
}
.product-comment__item{
    margin-left: 38px;
    border: 1px solid var(--border-c);

}
.product-comment__item-user{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    padding: 10px;
}
.product-comment__item-user-avt{
    /* width: 50px;
    height: 50px; */
    border-radius: 50%;
    margin-right: 16px;
    overflow: hidden;
}
.product-comment__item-user-avt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-comment__item-user-name{
    display: block;
    font-size: 1.6rem;
    color: var(--text-c);
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 5px;
}
.product-comment__item-user-rate{
    font-size: 1.6rem;
    color: rgb(255, 145, 0);
    line-height: 1.5;
}
.product-comment__item-user-rate-number{
    font-weight: 600;
    color: var(--text-c);
}
.product-comment__item-content{
    padding: 10px;
    font-size: 1.4rem;
    color: var(--text-c);
    line-height: 1.5;
    margin-left: 66px;

}
.product-comment__item-content p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 63px;
    overflow: hidden;
}
.product-comment__item-sellerRep{
    padding: 10px;
    font-size: 1.4rem;
    color: var(--text-c);
    background-color: var(--primery-c);
    line-height: 1.5;
    margin-left: 66px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.product-comment__item-sellerRep-text{

}
.product-comment__item-sellerRep p{
    font-size: 1.4rem;
    color: var(--text-c);
    line-height: 1.5;
    margin-left: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 63px;
    overflow: hidden;
}