{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
       
    {% endblock title%}
    </title>
    <link rel="stylesheet" href="{% static 'seller/seller.css' %}">
    {% block custom_css %}{% endblock %}
</head>
<body>
    {% include 'partials/seller/header.html' %}
    <main>
        {% comment %} {% block header %}
        {% endblock header %} {% endcomment %}
       {% block content %}
        {% endblock content %}
        {% comment %} {% block footer %}
        {% endblock footer %} {% endcomment %}
    </main>
    {% include 'partials/seller/footer.html' %}
    <script src="{% static 'seller/seller.js' %}"></script>
</body>