{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
       
    {% endblock title%}
        </title>
    <link rel="icon" type="image/png" href="{% static 'home/imgs/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/grib.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
    {% block profile__css %}{% endblock profile__css %}
    {% block order__css %}{% endblock order__css %}
    {% block product__css %}{% endblock product__css %}
    <link rel="stylesheet" href="{% static 'home/css/responsize.css' %}">
    
    
        
</head>
<body>
    {% include 'partials/home/header.html' %}
    <main>
        {% block content %}{% endblock content %}
        {% block category %}{% endblock category %}
        {%block thongTinSP%} {%endblock thongTinSP%}
        {%block search%} {%endblock search%}
        {%block datHang%} {%endblock datHang%}
        {%block profile%} {%endblock profile%}
        {%block lichsuDonHang%} {%endblock lichsuDonHang%}
        {%block sanPhamMoi%} {%endblock sanPhamMoi%}
        {%block GoiYSanPham%} {%endblock GoiYSanPham%}
    </main>
    {% include 'partials/home/footer.html' %}
    <script src="{% static 'home/js/header.js' %}"></script>
</body>