{% extends 'home/base.html' %}
{% load static %}
{% block title %}Tìm kiếm -{%endblock%} 
{% block category %}
    <main class="main-content">
        <div class="grib wide">
            <div class="section__title">
                {% if selected_category %}
                    Sản phẩm thuộc danh mục: {{ selected_category.TenDanhMuc }}
                {% else %}
                    Tất cả sản phẩm
                {% endif %}
            </div>
            <section class="products">
                <!-- bộ lọc : liên quan, mới nhất, bán chạy, giá(select)-->
                <div class="products__filter">
                    <span class="products__filter-title">Sắp xếp theo:</span>
                    <div class="products__filter-item">
                        <button class="products__filter-btn">Liên quan</button>
                    </div>
                    <div class="products__filter-item">
                        <button class="products__filter-btn">Mới nhất</button>
                    </div>
                    <div class="products__filter-item">
                        <button class="products__filter-btn">Bán chạy</button>
                    </div>
                    <div class="products__filter-item">
                        <label for="price-sort" class="products__filter-label">Giá:</label>
                        <select name="" id="price-sort" class="products__filter-select">
                            <option value="">Giá thấp đến cao</option>
                            <option value="">Giá cao đến thấp</option>
                        </select>
                    </div>
                </div>
                <ul class="row prodcuts__lists">
                    {% for product in products %}
                    <li class="products__item col c-4 m-3 l-2 ll-2">
                        <a href="{% url 'chiTietSP' product.id %}" class="products__item-link">
                            <div class="products__item-image">
                                {% if product.HinhAnh %}
                                    <img src="{{ product.HinhAnh.url }}" alt="Product Image">
                                {% else %}
                                    <img src="{% static 'home/imgs/default.png' %}" alt="No Image">
                                {% endif %}
                            </div>
                            <h3 class="products__item-name">{{ product.TenSanPham }}</h3>
                            <p class="products__item-price">{{ product.Gia|floatformat:0 }} VNĐ</p>
                            <span class="products__item-sold">Đã bán: {{ product.SoLuong }}</span>
                        </a>
                    </li>
                    {% empty %}
                    <li>Không có sản phẩm nào.</li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </main>
{%endblock%}