{% extends 'home/base.html' %}
{% load static %}
{% block title %}Trang chủ{% endblock %}

{% block content %}
<main class="main-content"> 
    <div class="grib wide">
        <section class="banner">
            <div class="banner__title">
                <h1 class="banner__title-text">Chào mừng bạn đến với SECOND HAND</h1>
                <p class="banner__subtitle-text">Nơi bạn có thể mua bất cứ thứu gì với giá hợp túi tiền.</p>
                <p class="banner__subtitle-text">Hãy cùng nhau khám phá các tính ăng và dich vụ của cúng tôi.</p>
            </div>
        </section>
        <section class="category">
            <div class="category__title">
                <h2 class="category__title-text">Doanh mục</h2>
            </div>
            <ul class="category__list row">
                <li class="category__item col c-4 m-4 l-2 ll-2">
                    <a href="#" class="category__item-link">
                        <h3 class="category__item-title">Điện thoại</h3>
                        <div class="category__item-icon">
                            <i class="fa-solid fa-mobile-screen-button"></i>
                        </div>
                    </a>
                </li>
                <li class="category__item col c-4 m-4 l-2 ll-2">
                    <a href="#" class="category__item-link">
                        <h3 class="category__item-title">Laptop</h3>
                        <div class="category__item-icon">
                            <i class="fa-solid fa-laptop"></i>
                        </div>
                    </a>
                </li>
                <li class="category__item col c-4 m-4 l-2 ll-2">
                    <a href="#" class="category__item-link">
                        <h3 class="category__item-title">Bàn/ghế</h3>
                        <div class="category__item-icon">
                            <i class="fa-solid fa-chair"></i>
                        </div>
                    </a>
                </li>
                <li class="category__item col c-4 m-4 l-2 ll-2">
                    <a href="#" class="category__item-link">
                        <h3 class="category__item-title">Sách vở</h3>
                        <div class="category__item-icon">
                            <i class="fa-solid fa-book"></i>
                        </div>
                    </a>
                </li>
                <li class="category__item col c-4 m-4 l-2 ll-2">
                    <a href="#" class="category__item-link">
                        <h3 class="category__item-title">Tai nghe</h3>
                        <div class="category__item-icon">
                            <i class="fa-solid fa-headphones"></i>
                        </div>
                    </a>
                </li>
                <li class="category__item col c-4 m-4 l-2 ll-2">
                    <a href="#" class="category__item-link">
                        <h3 class="category__item-title">Loa</h3>
                        <div class="category__item-icon">
                            <i class="fa-solid fa-volume-high"></i>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
        <section class="products">
            <div class="products__title">
                <h2 class="products__title-text">Gợi ý sản phẩm</h2>
            </div>
            <ul class="row prodcuts__lists">
                <li class="products__item col c-6 m-3 l-2 ll-2">
                    <a href="" class="products__item-link">
                        <div class="products__item-image">
                            <img src="" alt="Product Image">
                        </div>
                        <h3 class="products__item-name">Sản phẩm 1</h3>
                        <p class="products__item-price">1.000.000 VNĐ</p>
                        <span class="products__item-sold">Đã bán: 99</span>
                    </a>
                </li>
                <li class="products__item col c-6 m-3 l-2 ll-2">
                    <a href="" class="products__item-link">
                        <div class="products__item-image">
                            <img src="" alt="Product Image">
                        </div>
                        <h3 class="products__item-name">Sản phẩm 1</h3>
                        <p class="products__item-price">1.000.000 VNĐ</p>
                        <span class="products__item-sold">Đã bán: 99</span>
                    </a>
                </li>
                <li class="products__item col c-6 m-3 l-2 ll-2">
                    <a href="" class="products__item-link">
                        <div class="products__item-image">
                            <img src="" alt="Product Image">
                        </div>
                        <h3 class="products__item-name">Sản phẩm 1</h3>
                        <p class="products__item-price">1.000.000 VNĐ</p>
                        <span class="products__item-sold">Đã bán: 99</span>
                    </a>
                </li>
                <li class="products__item col c-6 m-3 l-2 ll-2">
                    <a href="" class="products__item-link">
                        <div class="products__item-image">
                            <img src="" alt="Product Image">
                        </div>
                        <h3 class="products__item-name">Sản phẩm 1</h3>
                        <p class="products__item-price">1.000.000 VNĐ</p>
                        <span class="products__item-sold">Đã bán: 99</span>
                    </a>
                </li>
                <li class="products__item col c-6 m-3 l-2 ll-2">
                    <a href="" class="products__item-link">
                        <div class="products__item-image">
                            <img src="" alt="Product Image">
                        </div>
                        <h3 class="products__item-name">Sản phẩm 1</h3>
                        <p class="products__item-price">1.000.000 VNĐ</p>
                        <span class="products__item-sold">Đã bán: 99</span>
                    </a>
                </li>
                <li class="products__item col c-6 m-3 l-2 ll-2">
                    <a href="" class="products__item-link">
                        <div class="products__item-image">
                            <img src="" alt="Product Image">
                        </div>
                        <h3 class="products__item-name">Sản phẩm 1</h3>
                        <p class="products__item-price">1.000.000 VNĐ</p>
                        <span class="products__item-sold">Đã bán: 99</span>
                    </a>
                </li>
            </ul>
            <div class="products__view-more">
                <a href="#" class="products__view-more-link">Xem thêm</a>
            </div>
        </section>
        <section class="products">
            <div class="products__title">
                <h2 class="products__title-text">Sản phẩm hot</h2>
            </div>
            <ul class="row prodcuts__lists">
                <li class="products__item col c-6 m-3 l-2 ll-2">
                    <a href="" class="products__item-link">
                        <div class="products__item-image">
                            <img src="" alt="Product Image">
                        </div>
                        <h3 class="products__item-name">Sản phẩm 1</h3>
                        <p class="products__item-price">1.000.000 VNĐ</p>
                        <span class="products__item-sold">Đã bán: 99</span>
                    </a>
                </li>
                <li class="products__item col c-6 m-3 l-2 ll-2">
                    <a href="" class="products__item-link">
                        <div class="products__item-image">
                            <img src="" alt="Product Image">
                        </div>
                        <h3 class="products__item-name">Sản phẩm 1</h3>
                        <p class="products__item-price">1.000.000 VNĐ</p>
                        <span class="products__item-sold">Đã bán: 99</span>
                    </a>
                </li>
                <li class="products__item col c-6 m-3 l-2 ll-2">
                    <a href="" class="products__item-link">
                        <div class="products__item-image">
                            <img src="" alt="Product Image">
                        </div>
                        <h3 class="products__item-name">Sản phẩm 1</h3>
                        <p class="products__item-price">1.000.000 VNĐ</p>
                        <span class="products__item-sold">Đã bán: 99</span>
                    </a>
                </li>
                <li class="products__item col c-6 m-3 l-2 ll-2">
                    <a href="" class="products__item-link">
                        <div class="products__item-image">
                            <img src="" alt="Product Image">
                        </div>
                        <h3 class="products__item-name">Sản phẩm 1</h3>
                        <p class="products__item-price">1.000.000 VNĐ</p>
                        <span class="products__item-sold">Đã bán: 99</span>
                    </a>
                </li>
                <li class="products__item col c-6 m-3 l-2 ll-2">
                    <a href="" class="products__item-link">
                        <div class="products__item-image">
                            <img src="" alt="Product Image">
                        </div>
                        <h3 class="products__item-name">Sản phẩm 1</h3>
                        <p class="products__item-price">1.000.000 VNĐ</p>
                        <span class="products__item-sold">Đã bán: 99</span>
                    </a>
                </li>
                <li class="products__item col c-6 m-3 l-2 ll-2">
                    <a href="" class="products__item-link">
                        <div class="products__item-image">
                            <img src="" alt="Product Image">
                        </div>
                        <h3 class="products__item-name">Sản phẩm 1</h3>
                        <p class="products__item-price">1.000.000 VNĐ</p>
                        <span class="products__item-sold">Đã bán: 99</span>
                    </a>
                </li>
            </ul>
            <div class="products__view-more">
                <a href="#" class="products__view-more-link">Xem thêm</a>
            </div>
        </section>
    </div>
</main>
{% endblock %}