{% extends 'home/base.html' %}
{% load static %}

{% block title %}Thông tin cá nhân -{% endblock %}

{% block profile__css %}
    <link rel="stylesheet" href="{% static 'home/css/profile.css' %}">
{% endblock profile__css %}
{% block profile %}
    <main class="main-content">
        <div class="grib wide">
            <section class="section">
                <div class="section__title">
                    <h2 class="section__title-text">Thông tin của bạn</h2>
                </div>
                <form action="" class="myProfile">
                    <div class="row">
                        <div class="form-group col c-12 m-6 l-6 ll-6">
                            <label for="name" class="form-label">Họ và tên:</label>
                            <input type="text" id="name" class="form-input" placeholder="" required>
                        </div>
                        <div class="form-group col c-12 m-6 l-6 ll-6">
                            <label for="name" class="form-label">Giới tính:</label>
                            <select name="" id="" class="form-select">
                                <option value="">Nam</option>
                                <option value="">Nữ</option>
                                <option value="">Khác</option>
                            </select>
                        </div>
                        <div class="form-group col c-12 m-6 l-6 ll-6">
                            <label for="name" class="form-label">Email:</label>
                            <input type="Email" id="name" class="form-input" placeholder="">
                        </div>
                        <div class="form-group col c-12 m-6 l-6 ll-6">
                            <label for="name" class="form-label">Số điện thoại:</label>
                            <input type="text" id="name" class="form-input" placeholder="" required>
                        </div>
                        <div class="form-group col c-12 m-6 l-6 ll-6">
                            <label for="name" class="form-label">Địa chỉ:</label>
                            <input type="text" id="name" class="form-input" placeholder="">
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </main>
{% endblock %}