{% extends 'home/base.html' %}
{% load static %}

{% block title %}Thông tin cá nhân -{% endblock %}

{% block profile__css %}
    <link rel="stylesheet" href="{% static 'home/css/profile.css' %}">
{% endblock profile__css %}
{% block profile %}
    <main class="main-content">
        <div class="grib wide">
            <section class="section">
                <div class="section__title">
                    <h2 class="section__title-text">Thông tin của bạn</h2>
                </div>
                <form action="" class="myProfile">
                    <div class="row">
                        <div class="form-group col c-12 m-6 l-6 ll-6">
                            <label for="name" class="form-label">Họ và tên:</label>
                            <input type="text" id="name" class="form-input" value="{{ user.get_full_name }}" required>
                        </div>
                        <div class="form-group col c-12 m-6 l-6 ll-6">
                            <label for="name" class="form-label">Giới tính:</label>
                            <select name="gioi_tinh" id="gender" class="form-select">
                                <option value="M" {% if user.gioi_tinh == "M" %}selected{% endif %}>Nam</option>
                                <option value="F" {% if user.gioi_tinh == "F" %}selected{% endif %}>Nữ</option>
                                <option value="O" {% if user.gioi_tinh == "O" %}selected{% endif %}>Khác</option>
                            </select>
                        </div>
                        <div class="form-group col c-12 m-6 l-6 ll-6">
                            <label for="name" class="form-label">Email:</label>
                            <input type="Email" id="email" class="form-input" value="{{ user.email }}">
                        </div>
                        <div class="form-group col c-12 m-6 l-6 ll-6">
                            <label for="name" class="form-label">Số điện thoại:</label>
                            
                            {% if user.so_dien_thoai %}
                                <input type="text" id="phone" class="form-input" value="{{ user.so_dien_thoai }}">
                            {% endif %}
                                <input type="text" id="phone" class="form-input" value="Chưa cập nhật">
                        </div>
                        <div class="form-group col c-12 m-6 l-6 ll-6">
                            <label for="name" class="form-label">Địa chỉ:</label>
                            
                            {% if user.dia_chi %}
                                <input type="text" id="address" class="form-input" value="{{ user.dia_chi }}">
                    
                            {% endif %}
                                <input type="text" id="address" class="form-input" value="Chưa cập nhật">
                                
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </main>
{% endblock %}