{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Account{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'account/imgs/favicon.png' %}?v={{ timestamp }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'account/css/base.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" href="{% static 'account/css/styles.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" href="{% static 'account/css/grib.css' %}?v={{ timestamp }}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% comment %} <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>s
            {% if user.is_authenticated %}
                <a href="{% url 'account:profile' %}">Profile</a>
                <a href="{% url 'account:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'account:login' %}">Login</a>
                <a href="{% url 'account:register' %}">Register</a>
            {% endif %}
        </nav>
    </header> {% endcomment %}
    {% include 'partials/account/header.html' %}
    <main class="content">
        {% block register %}{% endblock %}
        {% block login %}{% endblock %}
    </main>
    {% include 'partials/account/footer.html' %}
    {% comment %} <script src="{% static 'account/js/common.js' %}"></script> {% endcomment %}
    {% block extra_js %}{% endblock %}
</body>
</html>